<%- include('header') %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Admin Form Layout</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-7">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Admin Form</h5>

              <!-- Horizontal Form -->
              <form action="/stadium/insertstadium" method="post">
                
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Studium Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail" name="name">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Studium Country</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail" name="country">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Studium capacity</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail" name="capacity">
                    </div>
                  </div>


                <div class="text-center">
                    <input type="submit" class="btn btn-primary">
                    <input type="reset" class="btn btn-secondary">
                  </div>
                
              </form><!-- End Horizontal Form -->

            </div>
          </div>

        </div>
    </section>

  </main>End #main

  <%- include('footer') %>